body {
    padding: 5px;
    margin: 2px;
}

#mainTable {
    position: relative;
    top: 18rem;
    padding: 0;
    margin: 0;
}
.form-group {
    top: 12rem;
    height: 7vh;
    position: fixed;
    margin: 0;
    z-index: auto;
    padding: 0;
    left: 0;

}
div.input-group-addon {
    background-color: #0f5279;
    color: gold;
    padding: 0px;
    border: 2px solid black;
    width: 100px;
}

.form-group > .input-group > input {
    padding: 10px;
    height: 6rem;
    font-size: 3rem;
    color: #0f5279;
    border-radius: 10px;
    border: solid darkslategray 1px;
    width: 97vw;
}
.form-group > .input-group > input::placeholder {
    height: 5rem;
    font-size: 3rem;
    color: #0f5279;
    opacity: .7;
    font-style: italic;
}

/* Table CSS */
table thead tr {
    display: block;
    width: 100%;
    background-color: #0f5279;
    border: lightskyblue solid 1px;
}

th {
    color: gold;
}

table th, table td {
    width: 100%;
}

table tbody {
    display: block;
    height: 76vh;
    overflow: auto;
    width: 100%;
    border: solid #0f5279 3px;
}

td > a {
    color: gold !important;
}

/*End table CSS*/

/*Webkit Scrollbar CSS*/
::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0a5d79;;

}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px dodgerblue;
}

/*End Webkit scrollbar*/
/*Footer CSS*/
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: -75px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0;
    height: 100px;
    margin: auto;
    width: 400px;
    color: #0f5279;
}

#addJSON {
    position: fixed;

}

/*Overlay CSS*/
#Form_Button {
    position: fixed;
    top: 12rem;
    height: 5.45vh;
    width: 10vh;
    z-index: 100000;
    background-color: #0f5279;
    border: black 2px solid;
    right: 2rem;
    color: #a88d00;;
}

.glyphicon-plus-sign {
    font-size: x-large;
    color: #a88d00;
}

#Form_Button:hover > .glyphicon-plus-sign, #Form_Button:hover{
    color: #a88d00;
    color: gold;
}


.overlay {
    margin: 0;
    left: 0;
    padding: 0;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20000; /* Sit on top */
    top: 0;
    background-image: url("../img/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.8s; /* 0.8 relative transition for the Javascript*/
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #0f5279;
}
.closebtn:hover{
    color: #818181;
}

#buttondropdown{
    font-size: medium;
    color: white;

}
#buttondropdown>span{
    border: 1px solid #2e6da4;
}
/*This is very important*/
.btn-primary{
    border: none;
}
.btn-select {
    position: relative;
    padding: 0;
    width: 35%;
    border-radius: 0;
    margin-bottom: 100px;
}
/*Actual select box*/
.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 35px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 7px 9px;
    top: 0;
    color: #2e6da4;
    border-top: 2px solid #2e6da4;
    border-left: 2px solid #2e6da4;
    border-bottom: 2px solid #2e6da4;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #2e6da4 .5px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color: #428bca;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #286090;
}
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: #286090;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0 !important;
    }
}
#hiddenForm div >input{
    float: left;
    width: 30rem;
    border: 1px solid #0f5279;
    height: 3rem;
}

div.col-md-7 , label.col-md-5{
    margin-bottom: 20px;
    font-size: 2rem;
}

legend{
    border-bottom: 4px solid #0f5279;
    font-size: 6rem;
}
#formSubmit{
    -webkit-box-shadow: none;
    background-color: #2e6da4;
    color: white;
    width: 10rem;
    height: 4rem;

    border-radius: 30px;
}
#formSubmit:hover{
    -webkit-box-shadow: none;
    background-color: #269abc;
    color: gold;
    border: gold;
}