body {
    padding: 5px;
    margin: 2px;
}

#mainTable {
    position: relative;
    top: 18rem;
    padding: 0;
    margin: 0;
}

.form-group {
    top: 12rem;
    height: 7vh;
    position: fixed;
    margin: 0;
    z-index: auto;
    padding: 0;
    left: 0;

}

div.input-group-addon {
    background-color: #0f5279;
    color: gold;
    padding: 0px;
    border: 2px solid black;
    width: 100px;
}

.form-group > .input-group > input {
    padding: 10px;
    height: 6rem;
    font-size: 3rem;
    color: #0f5279;
    border-radius: 10px;
    border: solid darkslategray 1px;
    width: 97vw;
}

.form-group > .input-group > input::placeholder {
    height: 5rem;
    font-size: 3rem;
    color: #0f5279;
    opacity: .7;
    font-style: italic;
}

/* Table CSS */
table thead tr {
    display: block;
    width: 100%;
    background-color: #0f5279;
    border: lightskyblue solid 1px;
}

th {
    color: gold;
}

table th, table td {
    width: 100%;
}

table tbody {
    display: block;
    height: 76vh;
    overflow: auto;
    width: 100%;
    border: solid #0f5279 3px;
}

td > a {
    color: gold !important;
}

/*End table CSS*/

/*Webkit Scrollbar CSS*/
::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0a5d79;;

}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px dodgerblue;
}

/*End Webkit scrollbar*/
/*Footer CSS*/
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: -75px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0;
    height: 100px;
    margin: auto;
    width: 400px;
    color: #0f5279;
}

#addJSON {
    position: fixed;

}

/*Overlay CSS*/
#Form_Button {
    position: fixed;
    top: 12rem;
    height: 5.45vh;
    width: 10vh;
    z-index: 100000;
    background-color: #0f5279;
    border: black 2px solid;
    right: 2rem;
    color: gold;
}

.glyphicon-plus-sign {
    font-size: x-large;
    color: gold;
}

.overlay {
    margin: 0;
    left: 0;
    padding: 0;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20000; /* Sit on top */
    top: 0;
    background-image: url("../img/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.8s; /* 0.8 relative transition for the Javascript*/
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

