#errorString {
    color: #D8000C;
    background-color: #FFBABA;  margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    display: none;
}
#webform{
    margin-top: 10em;
}
#contact_form{
    border-radius: 10px;
    border: outset #245269;
    box-shadow: #245269;
}

#successMessage
{
    display: none;
}
div.input-group{
    border-color: #245269;
    border-style: ridge;
    border-radius: 10px;
}
label.col-md-2.control-label{
    font-size: 20px;
}