#content{
    position: relative;
    margin-top: 5em;
    right: 4em;
    width: 90vmax;
    margin-left: 10px;

}
#contentBox{
    box-shadow: 5px 4px 5px #005479;
}


#sidebar{
    border-radius: 20px;
    background: -webkit-linear-gradient(left, rgba(15, 82, 121, .60) 10% , #0f5279 90%);
    position: fixed;
    top: 11.5%;
    width: 29vmax;
    height: 65.8em;
    text-wrap: normal;
    box-shadow: 5px 4px 5px black;
    right: 0;
    margin-right: 15px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


table{
    width: 26vmax;
    table-layout: fixed;
    position: fixed;
    top: 11em;
    text-overflow-ellipsis: true;
    padding-left: 2px;
    padding-right: 2px;
    max-height: 11em;
}


th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    color: gold;
    padding-right: 80px;
    padding-bottom: 5px;
}
td{
    padding: 8px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    overflow: hidden;
    color: gold;
    border-bottom: solid 1px rgba(170,170,170, 1.0);
}
tr:hover{
    background-color: #245269;
}

#ticketInven{
    position: fixed;
    right: 7.5vmax;
    top: 3em;
    text-align: center;
    z-index: 2000;
    font-size: 2.6em;
}

.input-group{
    position: fixed;
    top: 70em;
    right: 4vmax;
}
button{
    border: solid 2px white;
    width: 10em;
    height: 4em;
}

a.ng-binding{
    color: gold;
    text-decoration: underline;
}
