
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: -75px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.footer {
    background: none repeat scroll 0 0;
    height: 100px;
    margin: auto;
    width: 400px;
    color: white;
}
/* End standard template */

#searchbar{
    position: fixed;
    top: 8em;
    align-items: center;
    z-index: 2010;
    right: -15em;
    width: 110%;
    height: 5em;
}

.input-group{
    width: 100%;
    font-size: 20px;
    right: 1.7em;
    border-bottom: 2px solid #31708f;
    overflow: hidden;
}

.input-group>input{
    z-index: 2006;
    font-size: 20px;
    padding-left: 115px;
}
#inlineFormInputGroup{
    height: 5em;
    box-shadow: black;
    background: -webkit-linear-gradient(right,#005479 55%, dodgerblue,darkslategray 99.99999%);
    z-index: 2006;
    color: White;
    font-size: 25px;
    border: 2px #0a5d79 solid;
}

#inlineFormInputGroup::placeholder{
    font-size: 20px;
    color: White ;
    filter: brightness(250%);

}

#searchbarInteractive{
    position: fixed;
    top: 8.95em;
    right: 3.1em;
    z-index: 2007;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #0f5279; !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0f5279 inset;
    -webkit-text-fill-color: gold;

}

input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #0f5279 inset;
    -webkit-text-fill-color: gold;
}


.selectpicker{
    position: fixed;
    right: 14.8em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(35,85,105,0.97);
    border: 2px solid black;
    overflow: hidden;
    font-size: 14px;
    height: 3.55em;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 13em;
    color: white;
}

.selectpicker:hover{
    border-color: gold;
}

.btn{
    position: fixed;
    right: 3.5em;
    height: 3.55em;
    width: 11em;
    top: 8.95em;
    padding: 5px;
    border: 2px solid black;
    font-size: 14px;
    background-color: rgba(35,85,105,0.97);
}
.btn:hover{
    border: 2px solid yellow;
    background-color: rgba(35,85,105,0.97)

}

#searchbarBackground {
    position: fixed;
    width: 136.9em;
    height: 4.5em;
    top: 8.53em;
    z-index: 2006;
    opacity: .18;
    border-radius: 20px;
    pointer-events: none;
    background-color: white;
    border: darkslategray 4px solid;
}



#errorString{
    position: fixed;
    Color: darkred;
    top: 25em;
    right: 55em;
    z-index: 2050;
    font-style: italic;
    display: none;
}
#noResultsFound{
    position: fixed;
    Color: darkblue;
    top: 25em;
    right: 55em;
    font-style: italic;
    z-index: 2050;
    display: none;
}
#startingString{
    position: fixed;
    Color: #0f5279;
    top: 7.5em;
    right: 15em;
    font-style: italic;
    z-index: 20500;
    display: initial;
    font-size: 50px;
}

div#searchbarBackground.container{
    left: 20px;
}



/*End Searchbar */

/*begin table formatter */
table
{
    position: fixed;
    text-align: left;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2), 0 44px 100px 0 rgba(0, 0, 0, 0.29);
    top: 13.7em;
    width: 95%;
    border-collapse:collapse;
    margin: 0 auto;
    background: rgba(221, 221, 221, 0.9);


}

td, th
{
    padding: 2em;
    padding-bottom: 1.1em;
    line-height: 2.2em;
    font-weight: 700;
    z-index: 2500;
    padding-right: 3em;
}

thead
{
    display:table-header-group;
    background: #31708f;
    border-bottom: 4px darkslategray solid;
}

th
{

    color: white;
    font-weight: 900;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}

th:last-child
{
    width: 219px;
}

tbody
{
    width: 100%;
    overflow: auto;
    height: 55em;
    display: block;
}

tr {
    display: table-header-group;
}

tr:nth-child(even)
{
    background: rgba(183, 183, 183, 0.67);
}

tr td:nth-child(2)
{
    font-weight: bold;
}









/* Hover Effect for table */
tr td{
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}
tr td:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform;
}
tr td:hover {
    transform: translateY(-5px);
    /* move the element up by 5px */
}
tr td:hover:before {
    opacity: 1;
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
