.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: -40px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.footer {
    background: none repeat scroll 0 0;
    height: 100px;
    margin: auto;
    width: 400px;
    color: #0f5279;
}
/* End standard template */

#searchbar{
    position: fixed;
    top: 8em;
    align-items: center;
    z-index: 1000;
    left: -1em;
    width: 110%;
    height: 5em;

}

.input-group{
    width: 100%;
    font-size: 20px;


}
#inlineFormInputGroup{
    height: 5em;
    box-shadow: black;
    background: -webkit-linear-gradient(right,#005479 55%, dodgerblue,white 99.99999%);
}

#inlineFormInputGroup::placeholder{
    font-size: large;
    color: #0f5279;
}

#searchbarInteractive{
    position: fixed;
    top: 9em;
    right: 5em;
    z-index: 2002;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #0f5279; !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0f5279 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: gold;

}

input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #0f5279 inset;
    -webkit-text-fill-color: gold;
}


.selectpicker{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(35,85,105,0.97);
    border: 2px solid black;
    overflow: hidden;
    font-size: 14px;
    height: 3.55em;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 13em;
    color: white;
}
.btn{
    height: 3.6em;
    width: 11em;
    padding: 5px;
    border: 1px solid black;
    font-size: 14px;
}
.btn:hover{
    border: 2px solid yellow;
}

/*End Searchbar */

/*begin table formatter */
table
{
    position: fixed;
    text-align: left;
    top: 15em;
    width: 90%;
    border-collapse:collapse;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
}

td, th
{
    padding: 16px;
    line-height: 2.2em;
    font-weight: 300;
}

thead
{
    display: block;
    background: rgba(255, 255, 255, 0.5);
}

th
{
    border-bottom: 0;
    color: white;
    color: #444;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}

th:last-child
{
    width: 219px;
}

tbody
{
    width: 100%;
    overflow: auto;
    height: 200px;
    display: block;
}

tr:nth-child(even)
{
    background: rgba(255, 255, 255, 0.15);
}

tr td:first-child
{
    font-weight: bold;
}
