<!DOCTYPE html>
<html lang="en">
<html ng-app="landing">
<head>
    <!----Acadian Blue = #0072c6 --->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta author="James Otis" content="">
    <title>Acadian Site Template</title>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="favicon.ico?">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="favicon.ico?">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="favicon.ico?">

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!---Basic StyleSheet for this dashboard--->
    <link href="stylesheets/template.css" rel="stylesheet">
    <!----StyleSheet for the ticketing table---->
    <link href="stylesheets/table.css" rel="stylesheet">

    <!-- HTML5 shim support for IE10--->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/footprintController.js" type="text/javascript"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <!---Button is connected only on small screen sizes--->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.acadian-asset.com">
                <img src="img/AcadianWhite.gif" width="92em" height="85em">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ">
                <li><a href="index.html">Home</a></li>
                <li id="activePage"><a href="footprints.html">Footprints</a></li>
                <li><a href="deployments.html">Deployments</a></li>
                <li id="Admin"><a href="admin.html">Administrator</a></li>
                <!---Dropdown bar---->
                <li id="dropMenu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">QuickLinks <b class="caret"></b></a>
                    <ul id="dropItems" class="dropdown-menu">
                        <li><a href="http://bos-vppm01/vppm/login.cfm">TAPS</a></li>
                        <li><a href="http://bos-buildlin01:8153/go/pipelines">GoCD</a></li>
                        <li><a href="https://consul.service.dev.acadian-asset.com">Consul</a></li>
                        <li class="divider"></li>
                        <li><a href="https://spteam.acadian-asset.com/SitePages/Home.aspx">Sharepoint</a></li>
                        <li class="divider"></li>
                        <li><a href="https://wiki.acadian-asset.com/index.php?title=Main_Page">Wiki</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!---Title in top right corner---->
<div class="container">
    <div class="starter-template">
        <h1 id="title">Release Engineering</h1>
    </div>
</div>
<form id="searchbar" class="form-inline col-lg-12" style="background-color: #0f5279">
    <div class="input-group" >
        <input ng-model="queryString" type="text" class="form-control" id="inlineFormInputGroup" style="font-size: .8em;"
               placeholder="Search for a Deployment....">
    </div>
    <div id="searchbarInteractive" ng-controller="footprintController">
        <select ng-model="selectedOption" class="selectpicker" >
            <option>FP Number</option>
            <option>Status</option>
            <option>Date</option>
            <option>Keyword</option>
        </select>
        <button type="submit" class="btn btn-primary" ng-click="query();">Submit</button>
    </div>
</form>


<table>
    <thead>
    <tr>
        <th>FP Number</th>
        <th>Status</th>
        <th>Description</th>
        <th>Target Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Developed</td>
        <td>1995</td>
        <td>1987</td>
        <td></td>
    </tr>
    </tbody>
</table>


<div class="footerholder">
    <div class="footer">
        &copy Acadian Asset Management, Inc. 2007. All rights reserved
    </div>
</div>
<footer style="text-align: center; color: #0f5279; position: fixed; bottom: 5%; margin-right: 50%; margin-left: -50%;"></footer>
<!----Button Hover javascript for bootstrap --->
<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(500);
    });
</script>

</body>
</html>
